body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #222 url('cover2.png') center center no-repeat;
    background-size: cover;
	background-attachment: fixed;
    height: 700px;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 5px;
	font-size: 20px;
}

.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.signup-form {
	margin: 100px auto;
	width: 300px;
	padding: 20px;
    margin-bottom: 700px;

}

.signup-form h2 {
	text-align: center;
	margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}
.signup-form {
	color: black;
	text-align: center;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}


.btn {
	padding: 10px;
	font-size: 15px;
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
	border: 1px solid transparent;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
}

.btn:hover {
	background-color: #d3d3d3;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: center;
}
.success {
    width: 95%; 
    margin: 10px auto; 
    padding: 10px;  
    color: #40754C;
	border: 1px solid #40754C ;
    background: #D4EDDA; 
    border-radius: 5px; 
    text-align: center;
}